:root {
  --color-background1: #2c2c2e;
  --color-background2: #3a3a3c;
  --color-accent: #f94b02;
  --color-key-light: #8f9498;
  --color-key-medium: #6b727a;
  --color-key-dark: #595a5f;
  --color-key-shadow: #08080a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: center;
  min-width: 900px;
  min-height: 100vh;
}

.keyboard {
  width: 80%;
  height: 400px;
  margin: 30px;
  padding: 10px;
  border-radius: 10px;
  background: linear-gradient(to bottom right, var(--color-background1), var(--color-background2));
}
